.hairdressers-container {
    padding: 2rem;
    text-align: center;
    background-color: #f8f8f8;
}

.hairdressers-container h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
    font-family: 'Playfair Display', serif;
}

.hairdressers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.hairdresser-card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.hairdresser-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.hairdresser-photo {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.hairdresser-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.hairdresser-card p {
    font-size: 1rem;
    color: #666;
}

.hairdresser-photo {
    width: 100%;
    height: 300px; /* Stała wysokość */
    object-fit: cover; /* Zachowuje proporcje i przycina obraz */
    border-radius: 10px;
    margin-bottom: 1rem;
}
