.login-page p {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.login-page button {
    background: none;
    color: blue;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9rem;
}

.login-page button:hover {
    color: darkblue;
}
