.profile-data p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #333;
}

.profile-data button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-data button:hover {
    background-color: #333;
}

.profile-data label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
    color: #333;
}

.profile-data input {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}
